footer
  span.copyright Copyright © {{model.data.year}} {{model.data.name}} | Version: {{model.data.version}} {{model.data.status}}
  span.help
    span(ng-repeat="(k, v) in model.data.website")
      a(ng-href="{{ v }}")&nbsp;{{ k }}&nbsp;
      ||
        
