sidebar
  ul.menu(ng-repeat="section in model.rawData")
    li(ng-repeat="(nid, nObj) in section", ng-class="css.getState(model.states[nid].activation)")
      a(ng-click="model.goto(nid)")
        i(ng-class="nObj.icon")
        span {{nObj.name}}
        i.is-align-right(ng-class="css.getExpansion(model.states[nid].expansion)")
      ul.menu(ng-show="css.expanded(model.states[nid].expansion)")
        li(ng-repeat="(subNid, subNObj) in nObj.subnodes", ng-class="css.getState(model.states[ subNid].activation)")
          a(ng-click="model.goto(subNid); $event.stopPropagation();")
            i(ng-class="subNObj.icon")
            span {{subNObj.name}}
