.footer
  span.copyright 
    span Copyright © {{model.copyright}}
    span.line |
    spen Version: {{model.version}}
  span.help
    span(ng-repeat-start="site in model.websites")
      a(ng-href="{{model.getLink(site)}}") {{model.getName(site)}}
    span.line(ng-repeat-end ng-show="{{$index}}<{{model.lenOfSites-1}}") |
