li(ng-class='model.rawData.klass')
  a.nav-item.dropdown-toggle(href="#" ng-click="model.toggle($event)")
    i(ng-class='model.rawData.icon')
  .dropdown-menu
    .dropdown-menu-header.li-border-bottom
      | {{model.rawData.name}}
    ul.height-control
      li.li-border-bottom(ng-repeat='child in model.rawData.subNodes')
        .fa-indent
          i(ng-class="child.icon")
          span
            | {{child.name}}
      li
        .fa-indent
          i(ng-class="model.rawData.privateCloud.icon")
          span
            | {{model.rawData.privateCloud.name}}
          i.fa.fa-angle-down.is-align-right#chevron-down-ctrl2.fa-icon-angle(ng-click="model.subToggle($event)")
        ul#chevron-down2.dropdown-menu-sub
          li.li-border-bottom(ng-repeat="info in model.rawData.privateCloud.info")
            .fa-indent
              i(ng-class="info.icon")
              span.title
                | {{info.name}}
            .fa-indent(ng-repeat="v in info.value")
              span
                | {{v}}
        li.dropdown-menu-footer
          .fa-indent(ng-repeat='info in model.rawData.footer.info')
            i.fa.fa-tag.fa-flip-horizontal.fa-left-icon
            span
              | {{info}}
