li.dropdown.dropdown2
  a.nav-item.dropdown-toggle(href="#")#dropdown-ctrl-2
    i.fa.fa-database
  .dropdown-menu
    .dropdown-menu-header.li-border-bottom
      | State
    ul.height-control
      li.li-border-bottom
        .fa-indent
          i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
          span
            | elasticsearch
      li.li-border-bottom
        .fa-indent
          i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
          span
            | redis
      li.li-border-bottom
        .fa-indent
          i.icon.icon-wrong.fa-icon-exclamation-triangle.fa-left-icon
          span.title
            | redisCache
          span.sub-title-sm
            | Link failure
      li.li-border-bottom
        .fa-indent
          i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
          span
            | web
      li
        .fa-indent
          i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
          span
            | Private Cloud
          i.fa.fa-angle-down.is-align-right#chevron-down-ctrl2.fa-icon-angle
        ul#chevron-down2.dropdown-menu-sub
          li.li-border-bottom
            .fa-indent
              i.icon.icon-virus.fa-icon-virus.fa-left-icon
              span.title
                | Patch version
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
          li
            .fa-indent
              i.icon.icon-vul.fa-icon-vul.fa-left-icon
              span.title
                | Patch version
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
        li.dropdown-menu-footer
          .fa-indent
            i.fa.fa-tag.fa-flip-horizontal.fa-left-icon
            span
              | 控制中心版本:  10.0.15770.0 alpha
          .fa-indent
            i.fa.fa-tag.fa-flip-horizontal.fa-left-icon
            span
              | 终端版本:  10.4.3740.3001