// TODO
li.dropdown.dropdown1
  a.nav-item.dropdown-toggle(href="#")#dropdown-ctrl-1
    i.fa.fa-sitemap
  .dropdown-menu
    .dropdown-menu-header.li-border-bottom
      | Muti center
    ul.height-control
      li.sub-header
        | abc123
        a(herf='#')
          .switchBut#switchBut1
            .toggle#toggle1
              .switch#switch1
      li.li-border-bottom
        .fa-indent
          i.fa.fa-circle.fa-icon-circle.fa-left-icon
          span
            | NUmber 9957
          i#chevron-down-ctrl1.fa.fa-angle-down.is-align-right.fa-icon-angle
        ul#chevron-down1.dropdown-menu-sub
          li.li-border-bottom
            .fa-indent
              i.fa.fa-map-marker.fa-icon-mapmark.fa-left-icon
              span.title
                | IP address
            .fa-indent
              span
                | 192.100.100.0
          li.li-border-bottom
            .fa-indent
              i.fa.fa-sliders.fa-icon-mapmark.fa-left-icon
              span.title
                | Control center version
            .fa-indent
              span
                | 2015.12.21.230 alpha
          li.li-border-bottom
            .fa-indent
              i.fa.fa-laptop.fa-icon-laptop.fa-left-icon
              span.title
                | Terminal version
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
          li.li-border-bottom
            .fa-indent
              i.icon.icon-virus.fa-icon-virus.fa-left-icon
              span.title
                | Patch version
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
          li
            .fa-indent
              i.icon.icon-vul.fa-icon-vul.fa-left-icon
              span.title
                | Patch version
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
            .fa-indent
              span
                | 2015.12.21.230(TVL000)
      li.sub-header
        | Subordinate
      li
        .fa-indent
          i.fa.fa-circle.fa-icon-circle.fa-left-icon
          span
            | Online state
          a.is-align-right(href='#')
            | 3/5
