header
        a.logo(href="#")
          img(src="https://trello-attachments.s3.amazonaws.com/5677614ccce6b3d59e4bc9d7/60x30/ad7f1ea7713688a05b95a2dcb7e0d4f4/LOGO..png") 
        .nav.header-nav  
          ul.nav-toolbar.is-align-left.nav-clearfix
            li
              a.nav-item#sidebar_controller(href="#")
                i.fa.fa-bars

          ul.nav-toolbar.is-align-right.nav-clearfix
            li
              a.nav-item(href="#")
                i.fa.fa-sitemap
            li
              a.nav-item(href="#")
                i.fa.fa-database
            li
              a.nav-item(href="#")
                i.fa.fa-tasks
            li
              a.nav-item(href="#")
                i.icon-vul
                
            li
              a.nav-item(href="#")
                i.icon-virus
            li
              a.nav-item(href="#")
                i.icon-hips
                
            li.user.user-info
              a.nav-item
                i.fa.fa-user
                span abc1234567
            li.user.dropdown
              a.nav-item(href="#")
                i.fa.fa-sign-out
                span.user-exit Logut
