header
  a.logo(href="#")
    img(src="https://trello-attachments.s3.amazonaws.com/5677614ccce6b3d59e4bc9d7/60x30/ad7f1ea7713688a05b95a2dcb7e0d4f4/LOGO..png")
  .nav
    ul.nav-toolbar.is-align-left.nav-clearfix
      li
        a.nav-item#sidebar_controller(href="#")
          i.fa.fa-bars
    ul.nav-toolbar.is-align-right.clearfix
      // first
      li.dropdown.dropdown1
        a.nav-item.dropdown-toggle(href="#")#dropdown-ctrl-1
          i.fa.fa-sitemap
        .dropdown-menu
          .dropdown-menu-header.li-border-bottom
            | Muti center
          ul.height-control
            li.sub-header
              | abc123
              a(herf='#')
                .switchBut#switchBut1
                  .toggle#toggle1
                    .switch#switch1
            li.li-border-bottom
              .fa-indent
                i.fa.fa-circle.fa-icon-circle.fa-left-icon
                span
                  | NUmber 9957
                i#chevron-down-ctrl1.fa.fa-angle-down.is-align-right.fa-icon-angle
              ul#chevron-down1.dropdown-menu-sub
                li.li-border-bottom
                  .fa-indent
                    i.fa.fa-map-marker.fa-icon-mapmark.fa-left-icon
                    span.title
                      | IP address
                  .fa-indent
                    span
                      | 192.100.100.0
                li.li-border-bottom
                  .fa-indent
                    i.fa.fa-sliders.fa-icon-mapmark.fa-left-icon
                    span.title
                      | Control center version
                  .fa-indent
                    span
                      | 2015.12.21.230 alpha
                li.li-border-bottom
                  .fa-indent
                    i.fa.fa-laptop.fa-icon-laptop.fa-left-icon
                    span.title
                      | Terminal version
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                li.li-border-bottom
                  .fa-indent
                    i.icon.icon-virus.fa-icon-virus.fa-left-icon
                    span.title
                      | Patch version
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                li
                  .fa-indent
                    i.icon.icon-vul.fa-icon-vul.fa-left-icon
                    span.title
                      | Patch version
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
            li.sub-header
              | Subordinate
            li
              .fa-indent
                i.fa.fa-circle.fa-icon-circle.fa-left-icon
                span
                  | Online state
                a.is-align-right(href='#')
                  | 3/5
      li.dropdown.dropdown2
        a.nav-item.dropdown-toggle(href="#")#dropdown-ctrl-2
          i.fa.fa-database
        .dropdown-menu
          .dropdown-menu-header.li-border-bottom
            | State
          ul.height-control
            li.li-border-bottom
              .fa-indent
                i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
                span
                  | elasticsearch
            li.li-border-bottom
              .fa-indent
                i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
                span
                  | redis
            li.li-border-bottom
              .fa-indent
                i.icon.icon-wrong.fa-icon-exclamation-triangle.fa-left-icon
                span.title
                  | redisCache
                span.sub-title-sm
                  | Link failure
            li.li-border-bottom
              .fa-indent
                i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
                span
                  | web
            li
              .fa-indent
                i.icon.icon-ture.fa-icon-check-circle.fa-left-icon
                span
                  | Private Cloud
                i.fa.fa-angle-down.is-align-right#chevron-down-ctrl2.fa-icon-angle
              ul#chevron-down2.dropdown-menu-sub
                li.li-border-bottom
                  .fa-indent
                    i.icon.icon-virus.fa-icon-virus.fa-left-icon
                    span.title
                      | Patch version
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                li
                  .fa-indent
                    i.icon.icon-vul.fa-icon-vul.fa-left-icon
                    span.title
                      | Patch version
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
                  .fa-indent
                    span
                      | 2015.12.21.230(TVL000)
              li.dropdown-menu-footer
                .fa-indent
                  i.fa.fa-tag.fa-flip-horizontal.fa-left-icon
                  span
                    | 控制中心版本:  10.0.15770.0 alpha
                .fa-indent
                  i.fa.fa-tag.fa-flip-horizontal.fa-left-icon
                  span
                    | 终端版本:  10.4.3740.3001
      li.dropdown.dropdown3
        a.nav-item#dropdown-ctrl-3.dropdown-toggle(href="#")
          i.fa.fa-tasks
        .dropdown-menu
          .dropdown-menu-header.li-border-bottom
            | Loophole
          ul.height-control
            li.li-border-bottom
              .fa-indent
                i.fa.fa-bolt.fa-icon-bolt.fa-left-icon
                span
                  | Dangerous number
                a(href="#").is-align-right
                  | 0
            li
              .fa-indent
                i.fa.fa-laptop.fa-icon-laptop2.fa-left-icon
                span
                  | Terminal version
                a(href="#").is-align-right
                  | 0
      li.dropdown.dropdown4
        a#dropdown-ctrl-4.nav-item.dropdown-toggle(href="#")
          i.icon-vul
        .dropdown-menu
          .dropdown-menu-header.li-border-bottom
            | Loophole
          ul.height-control
            li.li-border-bottom
              .fa-indent
                i.fa.fa-bolt.fa-icon-bolt.fa-left-icon
                span
                  | Dangerous number
                a(href="#").is-align-right
                  | 0
            li
              .fa-indent
                i.fa.fa-laptop.fa-icon-laptop2.fa-left-icon
                span
                  | Terminal version
                a(href="#").is-align-right
                  | 0
      li.dropdown.dropdown5
        a.nav-item.dropdown-toggle(href="#")#dropdown-ctrl-5
          i.icon-virus
        .dropdown-menu
          .dropdown-menu-header.li-border-bottom
            | Loophole
          ul.height-control
            li.li-border-bottom
              .fa-indent
                i.fa.fa-bolt.fa-icon-bolt.fa-left-icon
                span
                  | Dangerous number
                a(href="#").is-align-right
                  | 0
            li
              .fa-indent
                i.fa.fa-laptop.fa-icon-laptop2.fa-left-icon
                span
                  | Terminal version
                a(href="#").is-align-right
                  | 0
      li.dropdown.dropdown6
        a#dropdown-ctrl-6.nav-item.dropdown-toggle(href="#")
          i.icon-hips
        .dropdown-menu
          .dropdown-menu-header.li-border-bottom
            | Loophole
          ul.height-control
            li.li-border-bottom
              .fa-indent
                i.fa.fa-bolt.fa-icon-bolt.fa-left-icon
                span
                  | Dangerous number
                a(href="#").is-align-right
                  | 0
            li
              .fa-indent
                i.fa.fa-laptop.fa-icon-laptop2.fa-left-icon
                span
                  | Terminal version
                a(href="#").is-align-right
                  | 0
      li.user.user-info
        a.nav-item
          i.fa.fa-user
          span abc1234567
      li.user.header-nav
        a.nav-item(href="#")
          i.fa.fa-sign-out
          span.user-exit LOGO OUT
