li(ng-class='model.rawData.klass')
  a.nav-item.dropdown-toggle(href="#" ng-click="toggleSelect()")
    i(ng-class='model.rawData.icon')
  .dropdown-menu(ng-class="{'is-show':isPopupVisible}")
    .dropdown-menu-header.li-border-bottom
      | {{model.rawData.name}}
    ul#scroll-container-multiserver.height-control
      li.sub-header
        | {{model.rawData.fatherCenter.name}}
        //a(herf='#')
        //  .switchBut#switchBut1
        //    .toggle#toggle1
        //      .switch#switch1
      li.li-border-bottom
        
        .fa-text-indent(ng-show="!multiCenterConnectStatus")
          i.fa.fa-exchange.fa-left-icon
          span
            | 未连接上级控制中心 
          a.is-align-right(href="/serverConfig#MultiCenterConfig")
            | 连接


        .fa-text-indent(ng-show="multiCenterConnectStatus")
          i.fa.fa-circle.fa-icon-circle.fa-left-icon
          span
            | {{model.rawData.fatherCenter.info.name}}
          i#chevron-down-ctrl-multiserver.fa.fa-angle-down.is-align-right.fa-icon-angle(ng-click="subToggleSelect()")
        ul#chevron-down-multiserver.dropdown-menu-sub(ng-class="{'is-show':subToggle}")
          li.li-border-bottom(ng-repeat='info in model.rawData.fatherCenter.info.info', ng-class="li-border-none($last)")
            .fa-text-indent
              i(ng-class='info.icon')
              span.title
                | {{info.name}}
            .fa-text-indent(ng-repeat='v in info.value track by $index')
              span
                | {{v}}

      li.sub-header(ng-show="isChildShow")
        | {{model.rawData.childCenter.name}}
      li(ng-show="isChildShow")
        .fa-text-indent
          i.fa.fa-circle.fa-icon-circle.fa-left-icon
          span
            | {{model.rawData.childCenter.info.name}}
          a.is-align-right(ng-href='{{model.rawData.childCenter.info.url}}')
            | {{model.rawData.childCenter.info.value}}
