table.table
  tr
    th(ng-repeat="t in model.columnFields", ng-click="model.sortBy(t)") 
      {{t}}
  tr(ng-repeat-start="item in model.currentData", ng-click="model.toggleActive($index)" ng-class="css.brief(item)")
    td(ng-repeat="(k,v) in item.columnData" class="css.td(item.columnData)")
      span(ng-bind='v' class="css.cell(k,v)")
  tr(ng-repeat-end, ng-show="model.detailDisplayed($index)" class="css.detail(item)")
    td(colspan="{{model.fields.length}}")
      {{item.detailData}}

ul(id="pagination")
  li(ng-repeat="i in model.pageRange" id="{{i}}", ng-click="model.setCurrentPage(i)")
    {{i}}
p 
  span total
  span(ng-bind="model.data.length")   
  span records


