table.table
  tr
    th(ng-repeat="t in model.fields") 
      {{t}}
  tr(ng-repeat-start="item in model.currentData", ng-click="model.toggleActive($index)")
    td(ng-repeat="(k,v) in item.columnData")
      span(ng-bind='v')
    td.over(ng-show="pagination")
      .pull-right
        button.btn.btn-default.btn-icon.group_btn
          i.fa.fa-trash-o
        button.btn.btn-default.btn-icon
          i.fa.fa-edit
  tr(ng-repeat-end, ng-show="model.detailDisplayed($index)")
    td(colspan="{{model.fields.length}}")
      {{item.detailData}}

ul(id="pagination")
  li(ng-repeat="i in model.pageRange" id="{{i}}", ng-click="model.setCurrentPage(i)")
    {{i}}
p 
  span total
  span(ng-bind="model.data.length")   
  span records

