table.table
  tr
    th(ng-repeat="t in model.fields") 
      {{t}}
  tr(ng-repeat="item in model.currentData")
    td(ng-repeat="(k,v) in item")
      span(ng-bind='v')
    td.over(ng-show="pagination")
      .pull-right
        button.btn.btn-default.btn-icon.group_btn
          i.fa.fa-trash-o
        button.btn.btn-default.btn-icon
          i.fa.fa-edit

ul(id="pagination")
  li(ng-repeat="i in model.pageRange" id="{{i}}")
    {{i}}
p(ng-bind="model.currentPage")

